:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: transparent;
  overflow: visible;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: visible;
}

.layouts {
  background-color: #e7e7e7;
  border-radius: 25px;
  padding: 15px;
}

.layout {
  font-size: 20px;
  height: 45px;
  width: 190px;
  background-color: #e7e7e7;
  color: #6b6b6b;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: #c8c8c8;
  color: #464646;
}
